@if (ViewBag.LanguageId != null && ViewBag.LanguageId == 2)
{
    <div class="language">

        <a title="vietnamese" href="javascript:void(0)" id="lg-vn">
            <img src="/Images/vn.png" alt="vietnamese" />
        </a>
    </div>
}
else
{
    <div class="language">

        <a title="english" href="javascript:void(0)" id="lg-en">
            <img src="/Images/en.png" alt="english" />
        </a>
    </div>
}